#content > div.middle >div{
	float: left;
}
#sidebar{
	width: 180px;
}
#categories{
	background-color: #7c6354;
	width: 100%;
	text-align: center;
	border-radius: 0.3em;
}
#sidebar > div > a:link,#sidebar > div > a:visited{
	text-decoration: none;
	display: inline-block;
	width: 100%;
	font-size: 1.2em;
	line-height: 2.5em;
	color: #fff;
	border-bottom: 1px solid #bbb;
	/*border-radius: 0.5em;*/
}
#sidebar > div > a:hover,#sidebar > div > a:active{
	background-color: #c1a075;
}
#contact_us{
	font-size: 1.2em;
	line-height: 1.5em;
	margin-top: 1.5em;
}
#contact_us > div{
	width: 100%;
	/*padding: 0.5em;*/
}
.contact_btn:link,.contact_btn:visited{
	/*font-size: 1.2em;*/
	display: inline-block;
	background-color: #c1a075;
	/*padding: 0.5em;*/
	width: 100%;
	text-align: center;
	border-radius: 0.2em;
	margin-top: 0.5em;
	color:#000;
	line-height: 2em;
	text-decoration: none;
}
.contact_btn:hover,.contact_btn:active{
	text-decoration: underline;
}
#products{
	padding: 10px;
	padding-top: 0;
	/*margin-top: -10px;*/
	/*padding-left: 1px;*/
	/*border: 1px solid red;*/
	/*padding-top: 0;*/
	width: 760px;
	/*background-color: red;*/
}
.product{
	width:235px;
	height:300px;
	padding: 0;
	padding-bottom: 0.5em;
	float: left;
	margin-left:15px;
	margin-top: 20px;
	/*background-color: #eee;*/
	border: 1px solid #fff;
	text-align: center;
	overflow: hidden;
}
.product img{
	width: 235px;
	height: 235px;
	position: relative;
}
.product a.product_name:link,
.product a.product_name:visited{
	display: inline-block;
	margin-top: 0.5em;
	height: 4.8em;
	/*background-color: red;*/
	overflow: hidden;
	line-height: 1.2em;
}
.product > button{
	/*position: absolute;*/
	width: 100%;
	line-height: 3em;
	display: inline-block;
	margin-top:-3.8em;
	border: 0;
	background-color: #ff9900;
	color: #fff;
	display: none;
	/*bottom: 0;*/
}
