		<div id="content">
			<div class="middle">
				<div id="big_pic">
					<img src="__PUBLIC__/img/car.jpeg"/>
				</div><!-- end of #big_pic -->

				<div id="small_box">
					<ul>

						<li>
							<a href="#">Silicone Cookwares</a>
							<p>Silicone is echo-friendly material, </p>
						</li>

						<li>
							<a href="#">Silicone Grip Ring</a>
							<p>Multiple colors, good grade silicone material, you can print your logo on the grip ring, it is a good choice as promotional giffts.</p>
						</li>

						<li>
							<a href="#">Silicone Gifts</a>
							<p>silicone bracelet, silionce rings, echo-friendly material, we can be your best promotional gifts.</p>
						</li>

						<li>
							<a href="#">About Us</a>
							<p>We are a silicone factory, we produce all kins of silicone products, like silicone fitness items, siliocne cookwares, tablewares, sports bottles and etc.</p>
						</li>

						<li style="border:0;">
							<a href="#">Contact Us</a>
							<p>Address:Shenzhen Pingshan District Kengzi town Laokeng industry zone</p>
						</li>
					</ul>
				</div><!-- end of #small_box -->

				<div id="customers_show">
					<h2>Our Customers</h2>
					<div><img src="__PUBLIC__/img/car.jpeg"></div>
					<div><img src="__PUBLIC__/img/car.jpeg"></div>
					<div><img src="__PUBLIC__/img/car.jpeg"></div>
					<div><img src="__PUBLIC__/img/car.jpeg"></div>
					<div><img src="__PUBLIC__/img/car.jpeg"></div>
					<div><img src="__PUBLIC__/img/car.jpeg"></div>
					<div><img src="__PUBLIC__/img/car.jpeg"></div>
				</div><!-- end of #customer_show -->

				<div class="clear"></div>
			</div>
		</div><!-- end of #content -->