<div id="content">
	<div class="middle">
		<div id="sidebar">

			<div id="categories">
				<a href="#">Category Name</a>
				<a href="#">Category Name</a>
				<a href="#">Category Name</a>
				<a href="#">Category Name</a>
				<a href="#">Category Name</a>
				<a href="#">Category Name</a>
			</div><!-- end of #categories -->

			<div id="contact_us">
				<p>Have interests in this item? Just contact us.</p>
				
				<div>
					<a href="#"class="contact_btn">Leave a message online</a>
					<a href="#"class="contact_btn">Email us:sale2@263.com</a>
				</div>
			</div>

		</div><!-- end of #sidebar -->

		<div id="product_info">
			the id is {$product_id}
		</div><!-- end of #product_info -->
	</div><!-- end of .middle -->
</div><!-- end of #content -->