<html>
	<head>
		<title>Cloud Top ShenZhen Company Offical Website</title>
		<import type='css' file='resource/reset' />
		<import type='css' file='resource/common' />
		<import type='css' file='resource/{$css_file}' />
	</head>
	<body>
	<div id="out-wrapper">
		<div id="header">
			<div class="middle">
				<div id="logo"><!-- <img src="__PUBLIC__/img/logo.png" width="50px;"> -->YOUR BESET SILICONE PRODUCTS SUPPLIER</div>
				
				<nav id="menu">
					<a href="#">Home</a>
					<a href="#">Fitness</a>
					<a href="#">Cookware</a>
					<a href="#">Moudled Parts</a>
					<a href="#">News</a>
					<a href="#">About Us</a>
					<a href="#">Contact Us</a>
					<!-- <a href="#">Menu1</a> -->
				</nav><!-- end of #menu -->
			
				<div class="clear"></div>
			</div>
		</div><!-- end of #header -->

		{__CONTENT__}

		<div id="footer">
			<div class="middle">
				<div>
					<span>CloudTop is your beset silicone supplier.</span>
					<span>Email:sales@cloudtop.com</span>
					<span>ShenZhen China</span>
				</div>
			</div><!-- end of .middle -->
		</div><!-- end of #footer -->
	</div><!-- end of #out-wrapper -->
	</body>
</html>